github "ReactiveX/RxSwift"
github "RxSwiftCommunity/Action"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxCoreData"
github "RxSwiftCommunity/RxReachability"
github "RxSwiftCommunity/RxAlamofire"
github "realm/realm-cocoa"
github "Alamofire/Alamofire"
github "ashleymills/Reachability.swift"
